<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT</title>
</head>
<body>
    <form action="/comments/<%=comment.id%>/edit?_method=PATCH" method="POST">
        <section>
            <label for="comment">Edit the Comment</label>
            <br>
            <textarea id="comment" name="comment" placeholder="Comment" cols="30" rows="10" ><%=comment.comment%>   </textarea>
        </section>
        <input type="submit">
    </form>
</body>
</html>